.prizeimagecss {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.marginbottomcss {
  margin-top: 5px;
  margin-bottom: 30px;
}

.maxwidthcss {
  max-width: 100%;
  width: 100%;
}

.tshirtimagecss {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  max-width: 320px;
  width: 90%;
}

.marginautocss {
  margin: auto;
}
h2{
  margin-left: 5%;
  margin-right: 5%;
}
.merchandise-details{
  margin-left: 0.5%;
  margin-right: 0.5%;
}