.prizes-holder-div {
  margin: 12px;
  text-align: center;
  font-family: "DM Serif Display", serif;
}
.prizes-title {
  font-size: 45px;
  font-stretch: 200%;
}
p.prizes-title {
  margin: 0 0 3px 0;
  padding: 0;
}
.small-hr {
  margin: auto;
  width: 70%;
  height: 3px;
  padding: 0%;
}
