.scroll-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
  border-bottom: 0.5rem;
  z-index: 101;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
