.resultmainimg {
  margin-left: auto;
  margin-right: auto;
}

.resultmain {
  align-items: center;
}

.rankcssh1 {
  font-size: 3.5rem;
  font-family: "Varela Round", sans-serif;
}

.rankcssh5 {
  font-size: 2.5rem;
  font-family: "Varela Round", sans-serif;
}

.rankcolcss {
  padding-left: 25px;
  padding-right: 25px;
}

.rankcontainercss {
  max-width: 1500px;
}

.resultimgcss {
  width: 225px;
  height: 225px;
}

.ovresultcss {
  align-items: center;
  text-align: center;
  align-content: center;
}

.ovresultcss p {
  font-size: 25px;
}

.ovresultcss h2 {
  font-size: 2.5rem;
}
