* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ms-overflow-style: 5px;
  scrollbar-width: 5px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

/***For body***/
body {
  margin: 0px;
  font-family: "Times New Roman", Times, serif;
  background-blend-mode: hard-light;
  background-color: #e9eef4;
}
